## Definitions:
#### Food Insecurity
Food insecurity refers to USDA’s measure of lack of access, at times, to enough food for an active, healthy life for all household members and limited or uncertain availability of nutritionally adequate foods. Food-insecure households are not necessarily food insecure all the time. Food insecurity may reflect a household’s need to make trade-offs between important basic needs, such as housing or medical bills, and purchasing nutritionally adequate foods.


#### Food Security
Access by all people at all times to enough food for an active, healthy life—is one requirement for a healthy, well-nourished population.

In [80]:
import pandas as pd
from sqlalchemy import create_engine
from pgadmin_pw import pw
from config import API_key
import numpy as np
import requests
import json

## Extract CSVs into DataFrames
 * Extract map the meal gap dataset for states into a dataframe. Data gathered from the research team
    at Feeding America who conduct an annual study of Food Insecurity in the United States at the local
    level in an effort to solve hunger in the US.
    
    
 * Extract the USDA food access dataset into a dataframe. Data is gathered by the USDA ERS - Unites States
    Department of Agriculture Ecomomic Research Service- ERS plays a leading role in Federal research on food 
    security and food security measurement in U.S. households and communities and provides data access and 
    technical support to social science scholars to facilitate their research on food security.

In [81]:
# read-in map the meal gap (feeding america (FA)) county dataset and view
mmg_county_file = "../potential_datasets/MMG2020_2018_county_data.csv"
mmg_county_df = pd.read_csv(mmg_county_file)
mmg_county_df.head()

,FIPS,State,"County, State",2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2018 Child food insecurity rate,# of Food Insecure Children in 2018,% food insecure children in HH w/ HH incomes below 185 FPL in 2018,% food insecure children in HH w/ HH incomes above 185 FPL in 2018,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall
0,1001,AL,"Autauga County, Alabama",15.60%,"8,620",130%,SNAP,185%,Other Nutrition Program,46.20%,13.20%,40.50%,21.40%,"2,870",81%,19%,$3.33,"$4,857,000.00"
1,1003,AL,"Baldwin County, Alabama",12.90%,"26,860",130%,SNAP,185%,Other Nutrition Program,37.10%,18.70%,44.20%,16.90%,"7,710",84%,16%,$3.58,"$16,274,000.00"
2,1005,AL,"Barbour County, Alabama",21.90%,"5,650",130%,SNAP,185%,Other Nutrition Program,65.10%,10.80%,24.10%,32.00%,"1,740",94%,6%,$3.12,"$2,988,000.00"
3,1007,AL,"Bibb County, Alabama",15.10%,"3,400",130%,SNAP,185%,Other Nutrition Program,46.90%,21.20%,31.90%,20.90%,970,100%,0%,$2.94,"$1,690,000.00"
4,1009,AL,"Blount County, Alabama",13.60%,"7,810",130%,SNAP,185%,Other Nutrition Program,42.90%,27.90%,29.20%,19.10%,"2,580",100%,0%,$3.14,"$4,149,000.00"

In [82]:
# read-in FA state dataset and view
mmg_state_file = "../potential_datasets/MMG2020_2018_state_data.csv"
mmg_state_df = pd.read_csv(mmg_state_file)
mmg_state_df.tail()

,FIPS,State Name,State,2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2018 Child Food Insecurity Rate,# of Food Insecure Children in 2018,% food insecure Children in HH w/HH Incomes Below 185 FPL in 2016,% food insecure Children in HH w/HH Incomes Above 185 FPL in 2016,2018 Cost Per Meal,2017 Weighted Annual Food Budget Shortfall
46,51,Virginia,VA,9.90%,"842,870",130%,SNAP,185%,Other Nutrition Program,47.10%,13.00%,39.90%,12.50%,"233,530",73%,27%,$3.10,"$442,908,000"
47,53,Washington,WA,10.70%,"804,080",200%,"SNAP, Other Nutrition Programs",200%,"SNAP, Other Nutrition Programs",65.50%,NaN,34.50%,14.70%,"244,480",67%,33%,$3.22,"$438,026,000"
48,54,West Virginia,WV,13.90%,"250,600",200%,"SNAP, Other Nutrition Programs",200%,"SNAP, Other Nutrition Programs",69.30%,NaN,30.70%,20.30%,"73,770",92%,8%,$2.70,"$114,692,000"
49,55,Wisconsin,WI,8.90%,"515,930",200%,"SNAP, Other Nutrition Programs",200%,"SNAP, Other Nutrition Programs",67.40%,NaN,32.60%,14.10%,"179,180",79%,21%,$2.84,"$248,085,000"
50,56,Wyoming,WY,12.20%,"70,640",130%,SNAP,185%,Other Nutrition Program,41.70%,14.40%,43.80%,15.90%,"21,160",70%,30%,$3.12,"$37,306,000"

In [83]:
# read-in USDA general dataset and view
usda_file = "../potential_datasets/foodsecurity_datafile_USDA.csv"
general_usda_df = pd.read_csv(usda_file)
general_usda_df.head()

,Year,Category,SubCategory,SubSubCategory,Total,Food secure-1000,Food secure-Percent,Food insecure-1000,Food insecure-Percent,Low food security-1000,Low food security-Percent,Very low food security-1000,Very low food security-Percent
0,2001,All households,NaN,NaN,107824,96303,89.3,11521,10.7,8010,7.4,3511,3.3
1,2001,Household composition,With children < 18 yrs,NaN,38330,32141,83.9,6189,16.1,4744,12.4,1445,3.8
2,2001,Household composition,With children < 18 yrs,With children < 6 yrs,16858,13920,82.6,2938,17.4,2304,13.7,634,3.8
3,2001,Household composition,With children < 18 yrs,Married-couple families,26182,23389,89.3,2793,10.7,2247,8.6,546,2.1
4,2001,Household composition,With children < 18 yrs,"Female head, no spouse",9080,6185,68.1,2895,31.9,2101,23.1,794,8.7

In [84]:
# read-in USDA state year block dataset and view
usda_state_file = "../potential_datasets/foodsecurity_state_data_USDA.csv"
state_usda_df = pd.read_csv(usda_state_file)
state_usda_df.head()

,year,state,number of households,number interviewed,Food insecurity,margin of error - fi,very low food security,margin of error - vlfs
0,2001-2003,U.S. total,109546000,144686,11.0,0.23,3.4,0.11
1,2001-2003,AK,232000,1967,11.5,1.67,4.1,0.79
2,2001-2003,AL,1805000,2161,12.5,1.23,3.2,0.68
3,2001-2003,AR,1062000,1730,15.5,1.75,4.7,1.21
4,2001-2003,AZ,1958000,1932,12.3,1.36,3.8,0.65

## Transform Map the Meal Gap Datasets
* Create a new filtered dataframe to only include those columns that are necessary for our analysis and essentially dropping
those that are not needed.

* Rename column headers so they match the column names of our SQL schema. 

* Create function to strip delimiters and convert necessary objects to floats by column as needed.

* Set the index to state name.

### County Data

In [85]:
# remove "," and separate county name and state name
mmg_county_df = mmg_county_df.rename(columns={"County, State": "x",
                                        })

In [86]:
mmg_county_df[['county', 'state']] = mmg_county_df.x.str.split("County,", expand=True)
mmg_county_df.head()

,FIPS,State,x,2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,Low Threshold in state,Low Threshold Type,High Threshold in state,High Threshold Type,% FI ≤ Low Threshold,% FI Btwn Thresholds,% FI > High Threshold,2018 Child food insecurity rate,# of Food Insecure Children in 2018,% food insecure children in HH w/ HH incomes below 185 FPL in 2018,% food insecure children in HH w/ HH incomes above 185 FPL in 2018,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall,county,state
0,1001,AL,"Autauga County, Alabama",15.60%,"8,620",130%,SNAP,185%,Other Nutrition Program,46.20%,13.20%,40.50%,21.40%,"2,870",81%,19%,$3.33,"$4,857,000.00",Autauga County,Alabama
1,1003,AL,"Baldwin County, Alabama",12.90%,"26,860",130%,SNAP,185%,Other Nutrition Program,37.10%,18.70%,44.20%,16.90%,"7,710",84%,16%,$3.58,"$16,274,000.00",Baldwin County,Alabama
2,1005,AL,"Barbour County, Alabama",21.90%,"5,650",130%,SNAP,185%,Other Nutrition Program,65.10%,10.80%,24.10%,32.00%,"1,740",94%,6%,$3.12,"$2,988,000.00",Barbour County,Alabama
3,1007,AL,"Bibb County, Alabama",15.10%,"3,400",130%,SNAP,185%,Other Nutrition Program,46.90%,21.20%,31.90%,20.90%,970,100%,0%,$2.94,"$1,690,000.00",Bibb County,Alabama
4,1009,AL,"Blount County, Alabama",13.60%,"7,810",130%,SNAP,185%,Other Nutrition Program,42.90%,27.90%,29.20%,19.10%,"2,580",100%,0%,$3.14,"$4,149,000.00",Blount County,Alabama

In [87]:
# create filtered df in desired order
new_mmg_county = mmg_county_df[['FIPS','state','State','county','2018 Food Insecurity Rate', '# of Food Insecure Persons in 2018',
                                '2018 Child food insecurity rate','# of Food Insecure Children in 2018','% food insecure children in HH w/ HH incomes below 185 FPL in 2018',
                                '2018 Cost Per Meal', '2018 Weighted Annual Food Budget Shortfall']]
new_mmg_county.head()

,FIPS,state,State,county,2018 Food Insecurity Rate,# of Food Insecure Persons in 2018,2018 Child food insecurity rate,# of Food Insecure Children in 2018,% food insecure children in HH w/ HH incomes below 185 FPL in 2018,2018 Cost Per Meal,2018 Weighted Annual Food Budget Shortfall
0,1001,Alabama,AL,Autauga County,15.60%,"8,620",21.40%,"2,870",81%,$3.33,"$4,857,000.00"
1,1003,Alabama,AL,Baldwin County,12.90%,"26,860",16.90%,"7,710",84%,$3.58,"$16,274,000.00"
2,1005,Alabama,AL,Barbour County,21.90%,"5,650",32.00%,"1,740",94%,$3.12,"$2,988,000.00"
3,1007,Alabama,AL,Bibb County,15.10%,"3,400",20.90%,970,100%,$2.94,"$1,690,000.00"
4,1009,Alabama,AL,Blount County,13.60%,"7,810",19.10%,"2,580",100%,$3.14,"$4,149,000.00"

In [88]:
# rename column headers for preference and to match sql table
mmg_county = new_mmg_county.rename(columns={"FIPS": "fips", "State": "abbv",
                                        "2018 Food Insecurity Rate": "fi_rate",
                                        "# of Food Insecure Persons in 2018": "fi_count",
                                        "2018 Child food insecurity rate": "fi_rate_child",
                                        "# of Food Insecure Children in 2018": "fi_count_child",
                                        "% food insecure children in HH w/ HH incomes below 185 FPL in 2018": "fi_rate_below_185_fpl_child",                              
                                        "2018 Cost Per Meal": "cost_per_meal",
                                        "2018 Weighted Annual Food Budget Shortfall": "food_budget_shortfall"})
mmg_county.head()

,fips,state,abbv,county,fi_rate,fi_count,fi_rate_child,fi_count_child,fi_rate_below_185_fpl_child,cost_per_meal,food_budget_shortfall
0,1001,Alabama,AL,Autauga County,15.60%,"8,620",21.40%,"2,870",81%,$3.33,"$4,857,000.00"
1,1003,Alabama,AL,Baldwin County,12.90%,"26,860",16.90%,"7,710",84%,$3.58,"$16,274,000.00"
2,1005,Alabama,AL,Barbour County,21.90%,"5,650",32.00%,"1,740",94%,$3.12,"$2,988,000.00"
3,1007,Alabama,AL,Bibb County,15.10%,"3,400",20.90%,970,100%,$2.94,"$1,690,000.00"
4,1009,Alabama,AL,Blount County,13.60%,"7,810",19.10%,"2,580",100%,$3.14,"$4,149,000.00"

In [89]:
# create function to convert necessary objects to floats
def data_convert(col_names,delimiter,to_type):
    for column in col_names:
        mmg_county[column] = mmg_county[column].str.replace(delimiter, "").astype(to_type)

In [90]:
# remove % from rate columns and convert to floats
data_convert(["fi_rate", "fi_rate_child", "fi_rate_below_185_fpl_child"], "%", "float")

In [91]:
# remove , from budget col
mmg_county['food_budget_shortfall'] = mmg_county['food_budget_shortfall'].str.replace(",", "")

In [92]:
# remove $ from cost/budget columns and convert to float
data_convert(["cost_per_meal", "food_budget_shortfall"], "$", "float")

In [93]:
# remove , from count cols 
mmg_county["fi_count"]= mmg_county["fi_count"].str.replace(",","")
mmg_county["fi_count_child"]= mmg_county["fi_count_child"].str.replace(",","")

In [94]:
# change obs to floats and empty any non-number value
map_the_meal_county = (mmg_county.drop('fi_count', axis=1)
         .join(map_the_meal_county['fi_count'].apply(pd.to_numeric, errors='coerce')))

map_the_meal_county = (mmg_county.drop('fi_count_child', axis=1)
         .join(map_the_meal_county['fi_count_child'].apply(pd.to_numeric, errors='coerce')))

In [95]:
# set index
map_the_meal_county.set_index("fips", inplace=True)

### State Data

In [97]:
# create filtered df in desired order for state df
mmg_state = mmg_state_df[['FIPS','State Name','State','2018 Food Insecurity Rate', '# of Food Insecure Persons in 2018',
                                '2018 Child Food Insecurity Rate','# of Food Insecure Children in 2018','% food insecure Children in HH w/HH Incomes Below 185 FPL in 2016',
                                '2018 Cost Per Meal', '2017 Weighted Annual Food Budget Shortfall']]

In [98]:
# rename column headers for preference and to match sql table
map_the_meal_state = mmg_state.rename(columns={"FIPS": "fips",
                                        "State Name": "state",
                                        "State": "abbv",
                                        "2018 Food Insecurity Rate": "fi_rate",
                                        "# of Food Insecure Persons in 2018": "fi_count",
                                        "2018 Child Food Insecurity Rate": "fi_rate_child",
                                        "# of Food Insecure Children in 2018": "fi_count_child",
                                        "% food insecure Children in HH w/HH Incomes Below 185 FPL in 2016": "fi_rate_below_185_fpl_child",                              
                                        "2018 Cost Per Meal": "cost_per_meal",
                                        "2017 Weighted Annual Food Budget Shortfall": "food_budget_shortfall"})
map_the_meal_state.head()

,fips,state,abbv,fi_rate,fi_count,fi_rate_child,fi_count_child,fi_rate_below_185_fpl_child,cost_per_meal,food_budget_shortfall
0,1,Alabama,AL,17.00%,"829,220",23.10%,"251,800",88%,$3.02,"$423,745,000"
1,2,Alaska,AK,12.90%,"95,190",18.10%,"33,200",73%,$3.60,"$57,930,000"
2,4,Arizona,AZ,13.10%,"937,300",19.00%,"311,390",80%,$2.93,"$465,259,000"
3,5,Arkansas,AR,17.30%,"521,490",23.10%,"162,270",90%,$2.77,"$244,364,000"
4,6,California,CA,10.80%,"4,291,830",15.20%,"1,362,340",81%,$3.28,"$2,385,968,000"

In [99]:
# create function to convert necessary objects to floats
def state_data_convert(col_names,delimiter,to_type):
    for column in col_names:
        map_the_meal_state[column] = map_the_meal_state[column].str.replace(delimiter, "").astype(to_type)

In [100]:
map_the_meal_state["fi_rate"] = map_the_meal_state["fi_rate"].str.rstrip("%").astype("float")
map_the_meal_state["fi_rate_child"] = map_the_meal_state["fi_rate_child"].str.rstrip("%").astype("float")
map_the_meal_state["fi_rate_below_185_fpl_child"] = map_the_meal_state["fi_rate_below_185_fpl_child"].str.rstrip("%").astype("float")
# map_the_meal_state["fi_rate"]

In [101]:
# remove , from count cols
state_data_convert(["fi_count", "fi_count_child"], ",", "float")

In [102]:
# remove , from budget
map_the_meal_state['food_budget_shortfall'] = map_the_meal_state['food_budget_shortfall'].str.rstrip().str.replace(",","")

In [103]:
# remove $ from budget and cost cols
state_data_convert(["cost_per_meal", "food_budget_shortfall"], "$", "float")

In [104]:
# set index
map_the_meal_state.set_index("fips", inplace=True)

In [105]:
map_the_meal_state.head()

,state,abbv,fi_rate,fi_count,fi_rate_child,fi_count_child,fi_rate_below_185_fpl_child,cost_per_meal,food_budget_shortfall
fips,,,,,,,,,
1,Alabama,AL,17.0,829220.0,23.1,251800.0,88.0,3.02,4.237450e+08
2,Alaska,AK,12.9,95190.0,18.1,33200.0,73.0,3.60,5.793000e+07
4,Arizona,AZ,13.1,937300.0,19.0,311390.0,80.0,2.93,4.652590e+08
5,Arkansas,AR,17.3,521490.0,23.1,162270.0,90.0,2.77,2.443640e+08
6,California,CA,10.8,4291830.0,15.2,1362340.0,81.0,3.28,2.385968e+09

## Transform USDA Datasets
* Filter data to only inlcude the needed information & create a new dataframe.

* Refine data so information is presented by state. Create a Groupby function to gather all county information by state.

* Run an aggregate function to determine average poverty rate & median family income per state, & the sum of children
with low-access to food by state.

* Rename column headers to match schema.

* Set the index to the state name.

### USDA General (US) Data

In [106]:
# combine sub and subsub cols into one column w/subsub taking precedence 
def lookup(SubCategory, SubSubCategory):
    if SubSubCategory == "With children < 6 yrs":
        return SubSubCategory
    if SubSubCategory == "Married-couple families":
        return SubSubCategory
    if SubSubCategory == "Female head, no spouse":
        return SubSubCategory
    if SubSubCategory == "Male head, no spouse":
        return SubSubCategory
    if SubSubCategory == "Other household with child":
        return SubSubCategory
    if SubSubCategory == "More than one adult":
        return SubSubCategory
    if SubSubCategory == "Women living alone":
        return SubSubCategory
    if SubSubCategory == "Men living alone":
        return SubSubCategory
    if SubSubCategory == "Elderly living alone":
        return SubSubCategory
    else:
        return SubCategory

general_usda_df['category'] = general_usda_df.apply(lambda x: lookup(x['SubCategory'], x['SubSubCategory']), axis=1)

In [107]:
general_usda_df.head()

,Year,Category,SubCategory,SubSubCategory,Total,Food secure-1000,Food secure-Percent,Food insecure-1000,Food insecure-Percent,Low food security-1000,Low food security-Percent,Very low food security-1000,Very low food security-Percent,category
0,2001,All households,NaN,NaN,107824,96303,89.3,11521,10.7,8010,7.4,3511,3.3,NaN
1,2001,Household composition,With children < 18 yrs,NaN,38330,32141,83.9,6189,16.1,4744,12.4,1445,3.8,With children < 18 yrs
2,2001,Household composition,With children < 18 yrs,With children < 6 yrs,16858,13920,82.6,2938,17.4,2304,13.7,634,3.8,With children < 6 yrs
3,2001,Household composition,With children < 18 yrs,Married-couple families,26182,23389,89.3,2793,10.7,2247,8.6,546,2.1,Married-couple families
4,2001,Household composition,With children < 18 yrs,"Female head, no spouse",9080,6185,68.1,2895,31.9,2101,23.1,794,8.7,"Female head, no spouse"

In [108]:
# delete uneeded rows/values
general_usda = general_usda_df.drop([0])

category_list = ["With children < 18 yrs","With children < 6 yrs", "Married-couple families", "Female head, no spouse", "Male head, no spouse", "Other household with child",
                "More than one adult", "Women living alone", "Men living alone", "With elderly", "Elderly living alone", "White non-Hispanic",
                "Black non-Hispanic", "Hispanic", "Other"]
usda_filtered = general_usda[general_usda['category'].isin(category_list)]


# create filtered df
usda_general = usda_filtered[["Year", "category", "Total", "Food insecure-1000", "Food insecure-Percent"]]
usda_general.tail()

,Year,category,Total,Food insecure-1000,Food insecure-Percent
522,2018,Elderly living alone,"14,988","1,336",8.9
523,2018,White non-Hispanic,"84,975","6,869",8.1
524,2018,Black non-Hispanic,"16,613","3,526",21.2
525,2018,Hispanic,"18,101","2,937",16.2
526,2018,Other,"9,556",979,10.2

In [109]:
# update "other" in category for meaning
usda_general.loc[usda_general.category == 'Other', 'category'] = "Other Ethnicity"

# usda_general.tail()

C:\Users\19565\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [110]:
# rename column headers
usda_general = usda_general.rename(columns={"Year": "year",
                                  "Total": "total_hh_1000",
                                  "Food insecure-1000": "fi_count_1000",
                                  "Food insecure-Percent": "fi_rate"})

# usda_general.head()

In [111]:
# create function to convert necessary objects to floats
def usda_data_convert(col_names,delimiter,to_type):
    for column in col_names:
        usda_general[column] = usda_general[column].str.replace(delimiter, "").astype(to_type)

In [112]:
usda_data_convert(["total_hh_1000", "fi_count_1000"], ",", "float")

In [113]:
# set index
usda_general.set_index("year", inplace=True)

usda_general.head()

                     category  total_hh_1000  fi_count_1000  fi_rate
year
2001   With children < 18 yrs        38330.0         6189.0     16.1
2001    With children < 6 yrs        16858.0         2938.0     17.4
2001  Married-couple families        26182.0         2793.0     10.7
2001   Female head, no spouse         9080.0         2895.0     31.9
2001     Male head, no spouse         2389.0          380.0     15.9

### USDA State Data

In [114]:
state_usda_df.head()

,year,state,number of households,number interviewed,Food insecurity,margin of error - fi,very low food security,margin of error - vlfs
0,2001-2003,U.S. total,109546000,144686,11.0,0.23,3.4,0.11
1,2001-2003,AK,232000,1967,11.5,1.67,4.1,0.79
2,2001-2003,AL,1805000,2161,12.5,1.23,3.2,0.68
3,2001-2003,AR,1062000,1730,15.5,1.75,4.7,1.21
4,2001-2003,AZ,1958000,1932,12.3,1.36,3.8,0.65

In [115]:
# filter data and drop unnecssary row
usda_state_df = state_usda_df[["year", "state", "number of households", "number interviewed", "Food insecurity", "margin of error - fi"]].drop([0])


# rename cols
usda_state = usda_state_df.rename(columns ={'number of households' : 'num_households',
                                            "number interviewed": "num_intv",
                                            'Food insecurity': 'fi_rate',
                                            'margin of error - fi': 'moe'})

In [116]:
# set index
usda_state.set_index("state", inplace=True)

usda_state.head()

            year  num_households  num_intv  fi_rate   moe
state
AK     2001-2003          232000      1967     11.5  1.67
AL     2001-2003         1805000      2161     12.5  1.23
AR     2001-2003         1062000      1730     15.5  1.75
AZ     2001-2003         1958000      1932     12.3  1.36
CA     2001-2003        12617000      9165     12.2  0.64

## Create Database Connection

In [117]:
connection = f"postgres:{pw}@localhost:5432/Project2_FI_levels_US"
engine = create_engine(f'postgresql://{connection}')

In [118]:
# Confirm tables
engine.table_names()

['county',
 'states',
 'map_the_meal_county',
 'map_the_meal_state',
 'usda',
 'usda_state']

## Load DataFrames into Database

In [119]:
# load in FA data for county
map_the_meal_county.to_sql(name='map_the_meal_county', con=engine, if_exists='append', index=True)

In [120]:
# load in FA state data 
map_the_meal_state.to_sql(name='map_the_meal_state', con=engine, if_exists='append', index=True)

In [121]:
# load in USDA data
usda_general.to_sql(name='usda', con=engine, if_exists='append', index=True)

In [123]:
# load in USDA state data
usda_state.to_sql(name='usda_state', con=engine, if_exists='append', index=True)